* {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Spice', sans-serif;
}

body {
  background-image: url(../images/header/fondo.png);
}
/* Header */
/* ---Estilos Generales del Header--- */
header {
  text-align: center;
  padding: auto;
  padding-bottom: 20px;
}

header h1 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 10px;
}

.imagenEncabezado {
  width: 15%;
  height: 15%;
}

.redesSociales a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.iconoFacebook {
  background-image: url('../images/header/facebook.png');
}

.iconoX {
  background-image: url('../images/header/x.png');

}

.iconoInstagram {
  background-image: url('../images/header/instagram.png');
}