@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding: 0px 24px;
  height: 128px;
  font-size: larger;
  font-style: bold;
}

.blandLogo {
  flex-grow: 1;
  margin-left: 5px;
}

.navbar {
  flex-grow: 2;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 31, 85);
  font-style: bold;
}
.navbar ul li a:hover {
  color: rgb(0, 31, 85);
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 1, 43);
}
.navbar ul li a:hover.pagar {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 31, 85);
  border-style: solid;
  border-color: rgb(255, 1, 43);
}
.navbar ul li a.pagar {
  background-color: rgb(0, 31, 85);
  color: rgb(242, 242, 242);
  border-bottom-style: none;
  padding: 5px 20px;
  border-radius: 20px;
}

#submenu {
  display: none;
  position: absolute;
  background-color: rgb(242, 242, 242);
  margin-top: 8px;
  padding: 10px;
}
#submenu li {
  margin-top: 20px;
}

li:hover #submenu {
  display: block;
  padding-bottom: 20px;
}

.mainTitle {
  background-image: url("../images/header/frontPage.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  height: 350px;
  align-items: center;
  justify-content: center;
}
.mainTitle h1 {
  color: rgb(0, 31, 85);
  font-size: 54px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.85);
  margin-top: 90px;
}
.mainTitle p {
  color: rgb(255, 1, 43);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
  font-size: 36px;
  margin-top: 10px;
  padding-top: 10px;
}

.services {
  text-align: center;
}
.services h2 {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 1, 43);
}
.services a {
  margin-left: 940px;
}

.metrics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer {
  background-color: rgba(0, 31, 85, 0.95);
  margin-top: 20px;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footerSection {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.footerSection img {
  margin-top: 50px;
}
.footerSection p {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
.footerSection a {
  color: rgb(242, 242, 242);
  text-decoration: none;
  padding-bottom: 10px;
}

.socialNetworks {
  margin-top: 5px;
}
.socialNetworks a {
  margin-right: 10px;
}

main {
  overflow-x: hidden;
}

.pagar {
  background-color: rgb(0, 31, 85);
  color: rgb(242, 242, 242);
  border-style: none;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}

.pagar:hover {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 31, 85);
  border-style: solid;
  border-color: rgb(255, 1, 43);
  text-transform: uppercase;
}

.dataCard {
  flex-basis: 300px;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  margin: 10px;
}
.dataCard h3 {
  font-size: 54px;
  margin-top: 20px;
  color: rgb(0, 31, 85);
}
.dataCard h2 {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(255, 1, 43);
  margin-bottom: 20px;
}
.dataCard p {
  font-size: 24px;
  font-weight: bold;
}
.dataCard .plusSign {
  color: rgb(255, 1, 43);
}

.flightInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(0, 31, 85);
  border-radius: 20px;
  padding: 16px;
  width: 80%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.flightInfo ul {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.flightInfo ul li {
  margin-right: 20px;
}

.resultCard {
  border: 2px solid rgb(0, 31, 85);
  border-radius: 20px;
  width: 100%;
  margin-left: -17%;
  margin-top: 10px;
}
.resultCard .cardText ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.resultCard .cardText ul li {
  margin-right: 20px;
}

.seleccionarBtn {
  margin-left: 35% !important;
}

.container {
  margin-left: 22% !important;
}

.form-check-inline,
.btn {
  transform: translateX(-186px) !important;
}

.sugerenciasOrigen,
.sugerenciasDestino {
  background-color: rgba(0, 31, 85, 0.2);
  border-radius: 10px;
  font-weight: bold;
}

#errorDiv {
  font-size: 24px;
  display: none;
  color: rgb(254, 80, 79);
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid rgb(254, 80, 79);
}

#correctDiv {
  font-size: 16px;
  display: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}

#countdown {
  display: none;
}

.show {
  display: block !important;
  background-color: rgba(20, 20, 20, 0.95);
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
  border: 5px solid rgb(0, 31, 85);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#popupPay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 33%;
  height: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(242, 242, 242);
  padding: 20px;
  border: 5px solid rgb(0, 31, 85) !important;
  text-align: center;
  border-radius: 20px;
}
#popupPay img {
  position: relative;
  margin: auto;
}
#popupPay #codigoExitoso {
  font-size: 24px;
  font-weight: bold;
}

.spinner {
  display: none;
  width: 100px !important;
  height: 100px !important;
  border: 5px solid rgb(242, 242, 242);
  border-top: 5px solid rgb(52, 152, 219);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
  margin-top: 12%;
}
.spinner p {
  font-size: 24px;
  font-weight: bold;
}

.close {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.checkmark,
.checkerror {
  display: none;
  max-width: 100px;
  max-height: 100px;
  margin-top: 12% !important;
}

#mensaje.error {
  color: rgb(254, 80, 79);
  font-size: 24px;
  font-weight: bold;
}

#mensaje.success {
  color: rgb(13, 183, 131);
  font-size: 24px;
  font-weight: bold;
}

#mensaje.process {
  font-size: 24px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2px;
}

th {
  text-align: center;
  padding: 8px;
}

td {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
