@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding: 0px 24px;
  height: 128px;
  font-size: larger;
  font-style: bold;
}

.blandLogo {
  flex-grow: 1;
  margin-left: 5px;
}

.navbar {
  flex-grow: 2;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 31, 85);
  font-style: bold;
}
.navbar ul li a:hover {
  color: rgb(0, 31, 85);
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 1, 43);
}
.navbar ul li a:hover.pagar {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 31, 85);
  border-style: solid;
  border-color: rgb(255, 1, 43);
}
.navbar ul li a.pagar {
  background-color: rgb(0, 31, 85);
  color: rgb(242, 242, 242);
  border-bottom-style: none;
  padding: 5px 20px;
  border-radius: 20px;
}

#submenu {
  display: none;
  position: absolute;
  background-color: rgb(242, 242, 242);
  margin-top: 8px;
  padding: 10px;
}
#submenu li {
  margin-top: 20px;
}

li:hover #submenu {
  display: block;
  padding-bottom: 20px;
}

.mainTitle {
  background-image: url("../images/header/frontPage.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  height: 350px;
  align-items: center;
  justify-content: center;
}
.mainTitle h1 {
  color: rgb(0, 31, 85);
  font-size: 54px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: 90px;
}
.mainTitle p {
  color: rgb(255, 1, 43);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 36px;
  margin-top: 10px;
  padding-top: 10px;
}

.services {
  text-align: center;
}
.services h2 {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 1, 43);
}

.metrics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer {
  background-color: rgba(0, 31, 85, 0.95);
  margin-top: 20px;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footerSection {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.footerSection img {
  margin-top: 50px;
}
.footerSection p {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
.footerSection a {
  color: rgb(242, 242, 242);
  text-decoration: none;
  padding-bottom: 10px;
}

.socialNetworks {
  margin-top: 5px;
}
.socialNetworks a {
  margin-right: 10px;
}

.dataCard {
  flex-basis: 300px;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  margin: 10px;
}
.dataCard h3 {
  font-size: 54px;
  margin-top: 20px;
  color: rgb(0, 31, 85);
}
.dataCard h2 {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(255, 1, 43);
  margin-bottom: 20px;
}
.dataCard p {
  font-size: 24px;
  font-weight: bold;
}
.dataCard .plusSign {
  color: rgb(255, 1, 43);
}

.container {
  margin-left: 300px !important;
}

.form-check-inline,
.btn {
  transform: translateX(-186px) !important;
}

#countdown {
  display: none;
}

.show {
  display: block !important;
  background-color: rgba(20, 20, 20, 0.95);
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
