.dataCard {
	flex-basis: 300px;
	padding: 20px;
	background-color: $background-color_1;
	border: 3px solid $background-color_5;
	border-radius: 10px;
	margin: 10px;

	h3 {
		font-size: 54px;
		margin-top: 20px;
		color: $color_1;
	}

	h2 {
		font-size: 30px;
		margin-top: 10px;
		color: $color_3;
		margin-bottom: 20px;
	}

	p {
		font-size: 24px;
		font-weight: bold;
	}

	.plusSign {
		color: $color_3;
	}
}

.flightInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid $color_1;
	border-radius: 20px;
	padding: 16px;
	width: 80%;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;

	ul {
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;

		li {
			margin-right: 20px;
		}
	}
}

.resultCard {
	border: 2px solid $color_1;
	border-radius: 20px;
	width: 100%;
	margin-left: -17%;
	margin-top: 10px;

	.cardText ul {
		display: flex;
		list-style-type: none;
		justify-content: center;

		li {
			margin-right: 20px;
		}
	}
}

.seleccionarBtn {
	margin-left: 35% !important;
}

.cardGetaweys {
	text-align: center;
}

.cardGetaweysInfo {
	width: 400px;
	height: 300px;
	background-color: $background-color_1;
	border: 3px solid $background-color_5;
	border-radius: 20px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 10px 20px auto;
	transition: all 0.3s ease;
	position: relative;
	z-index: 1;

	img {
		width: 394px;
		height: 75%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		position: relative;
		z-index: 0;
		transition: all 0.3s ease;
	}

	h4 {
		margin-top: 8px;
		color: $color_1;
		font-weight: bold;
	position: relative; /* Añadido */
	z-index: 1; /* Añadido */

	}

	h5 {
		color: $color_3;
		position: relative; /* Añadido */
		z-index: 1; /* Añadido */
	}
}