.container {
    margin-left: 22% !important;
};

.form-check-inline,
.btn {
    transform: translateX(-186px) !important;
};

.sugerenciasOrigen,
.sugerenciasDestino {
    background-color: $background-color_5;
    border-radius: 10px;
    font-weight: bold;
}
