.container {
    margin-left: 22% !important;
}

.form-check-inline,
.btn {
    transform: translateX(-186px) !important;
}

.sugerenciasOrigen,
.sugerenciasDestino {
    background-color: $background-color_5;
    border-radius: 10px;
    font-weight: bold;
}

#errorDiv {
    font-size: 24px;
    display: none;
    color: $color_4;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid $color_4;
}

#correctDiv {
    font-size: 16px;
    display: none;
    color: $color_7;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid $color_7;
}