.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $background-color_4;
	z-index: 1;
}

.popupContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	z-index: 1;
	border: 5px solid $color_1;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#popupPay {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 33%;
	height: 45%;
	transform: translate(-50%, -50%);
	background-color: $background-color_1;
	padding: 20px;
	border: 5px solid $color_1 !important;
	text-align: center;
	border-radius: 20px;

	img {
		position: relative;
		margin: auto;
	}

	#codigoExitoso {
		font-size: 24px;
		font-weight: bold;
	}
}

.spinner {
	display: none;
	width: 100px !important;
	height: 100px !important;
	border: 5px solid $color_2;
	border-top: 5px solid $color_6;
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
	margin: 0 auto;
	margin-top: 12%;

	p {
		font-size: 24px;
		font-weight: bold;
	}
}

.close {
	display: none;
	position: absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
}

.checkmark,
.checkerror {
	display: none;
	max-width: 100px;
	max-height: 100px;
	margin-top: 12% !important;
}


#mensaje.error {
	color: $color_4;
	font-size: 24px;
	font-weight: bold;
}

#mensaje.success {
	color: $color_5;
	font-size: 24px;
	font-weight: bold;
}

#mensaje.process {
	font-size: 24px;
	font-weight: bold;
}

.popupLogin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $background-color_4;
	z-index: 1;
}

.popupContentLogin {
	background-color: $background-color_1;
	border-radius: 20px;
	border: 5px solid $color_1;
	text-align: center;
	width: 100%;
	margin: 20% auto;
	padding: 20px;
	max-width: 400px;
	margin-top: 10%;

	h2 {
		color: $color_3;
	}

	.user {
		width: 70%;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.formatUser {
		width: 70%;
		font-size: 18px;
		margin-bottom: 2px;
		font-weight: bold;
	}
}

#userNotFoundMessage {
	color: $color_4;
	font-weight: bold;
}

#userNotFoundGoogle {
	color: $color_4;
	font-weight: bold;
}

#welcomeMessage {
	padding: 5px;
	background-color: $background-color_2;
	color: $color_2;
	display: none;

	button {
		border: none;
		padding: 5px;
		background-color: $background-color_2;
		color: $color_2;
		font-weight: bold;

		&:hover {
			border: none;
			padding: 5px;
			background-color: $background-color_2;
			color: $color_3;
			font-weight: bold;
		}
	}
}

.buttonLogin {
	background-color: $background-color_2;
	color: $color_2;
	border-style: none;
	padding: 5px 20px;
	border-radius: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;

	&:hover {
		background-color: $background-color_1;
		color: $color_1;
		border-style: solid;
		border-color: $color_3;
		text-transform: uppercase;
	}
}

.buttonGoogle {
	background-color: $background-color_1;
	border: 1px solid $color_2;
	color: $color_8;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 2px 4px $background-color_6;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;

	&:hover {
		background-color: $background-color_1;
		border-color: $color_9;
		color: $color_10;
	}
}