#countdown {
  display: none;
}

.show {
  display: block !important;
  background-color: rgba(20, 20, 20, 0.95);
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
  text-align: center;
}