@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$font-family_1: "Dosis", sans-serif;
$color_1: rgb(0, 31, 85);
$color_2: rgb(242, 242, 242);
$color_3: rgb(255, 1, 43);
$color_4: rgb(254, 80, 79);
$color_5: rgb(13, 183, 131);
$color_6: rgb(52, 152, 219);
$background-color_1: rgb(242, 242, 242);
$background-color_2: rgb(0, 31, 85);
$background-color_3: rgba(0, 31, 85, 0.95);
$background-color_4: rgba(0, 0, 0, 0.8); 
$border-bottom-color_1: rgb(255, 1, 43);